/* for whole webpage */
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: yellowgreen;
    color: white;
}


/* styling top nav bar */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}

.logo img {
    height: 40px;
    border: 2px solid yellowgreen;
    border-radius: 50%;
}

.navTitle .title {
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 22px;
    cursor: pointer;
}

.navBar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
    z-index: 1000;
    padding: 0 32px;
}

.navTitle {
    display: flex;
}

.navOptions ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navOptions li {
    list-style: none;
    padding: 16px 16px;
}

.navOptions li a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.navOptions li a:hover {
    color: white;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 8px;
    padding: 4px 12px;
    box-shadow: 0 2px 8px 0 yellowgreen;
}

.menuButton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menuButton .bar {
    height: 3px;
    width: 100%;
    background-color: yellowgreen;
    border-radius: 10px;
}

/* styling first information section */
.infoSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftHalf p {
    color: black;
}

.boxMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: white;
}

.leftHalf {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightHalf {
    width: 30%;
}

.rightHalf img {
    width: 100%;
    height: 100%;
}

.titleText {
    font-size: 40px;
}

.infoText {
    margin: 8px 0;
    font-size: 18px;
}

.explore {
    margin: 24px 0;
    padding: 8px 24px;
    border: 3px solid yellowgreen;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: yellowgreen;
}

.explore:hover {
    background-color: yellowgreen;
    color: white
}


/*styling horizontal scrollable lists*/
.itemTitle {
    margin: 16px 16px;
    font-size: 22px;
    color: yellowgreen;
}

.itemsList {
    padding: 16px 16px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.itemsList::-webkit-scrollbar {
    display: none;
}

.itemCard {
    flex: 0 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 12px 8px;
    margin-right: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.itemCard:hover {
    top: -10px;
}

.itemName {
    color: yellowgreen;
    font-weight: bold;
}

.itemCard img {
    width: 100%;
    height: 70%;
}

.itemsScroller {
    display: flex;
    flex-direction: row;
}

.slider {
    display: flex;
    justify-content: center;
}

.slideButton {
    background: none;
    border: none;
    color: yellowgreen;
    cursor: pointer;
}


/* styling about section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.about img {
    width: 40%;
}

.about p {
    text-align: center;
    font-size: large;
    color: rgb(53, 49, 49);
}

.about div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* media queries */

@media (max-width: 750px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menuButton {
        display: flex;
    }


    .navOptions {
        display: none;
        width: 100%;
    }

    .navOptions ul {
        width: 100%;
        flex-direction: column;
    }

    .navOptions ul li {
        text-align: center;
    }

    .navOptions ul li a {
        padding: 8px;
    }

    .navOption.active {
        display: flex;
    }
}

@media only screen and (min-width: 580px) {
    .itemCard {
        width: 33%;
    }

    .boxMain {
        flex-direction: row;
    }

    .about {
        flex-direction: row;
    }

    .about p {
        padding: 0 16px;
    }
}

@media only screen and (min-width: 880px) {
    .itemCard {
        width: 25%;
    }
}

@media only screen and (min-width: 1024px) {
    .itemCard {
        width: 15%;
    }
}